@if(folder === 'emprestimos'){
<ion-content class="page-content">
  <div class="page-header">
    <ion-button fill="clear" class="back-btn" routerLink="/home">
      <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      Voltar
    </ion-button>
    <h1>Emprestados</h1>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <app-card
          [firstName]="'Eduardo Brasileiro'"
          [observation]="'Disse que só vai poder pagar dia 15'"
          [atrased]="true"
          [valor]="1500"
          [dataVencimento]="'2025-12-01'"
        ></app-card>
        <app-card
          [firstName]="'Humberto Constantino'"
          [atrased]="false"
          [valor]="800"
          [dataVencimento]="'2025-12-20'"
        ></app-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
} @if(folder === 'novo-emprestimo'){
<ion-content>
  <app-new-emprestimo></app-new-emprestimo>
</ion-content>
} @if(folder === 'relatorio'){
<ion-content class="page-content">
  <div class="page-header">
    <ion-button fill="clear" class="back-btn" routerLink="/home">
      <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      Voltar
    </ion-button>
    <h1>Relatório</h1>
  </div>
  <app-relatorio></app-relatorio>
</ion-content>
}
